<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:replace="${title}">Spark Playground</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/sticky-footer-navbar.css}" />
<script th:src="@{/javascript/jquery-3.3.1.min.js}"></script>
<script th:src="@{/javascript/bootstrap.min.js}"></script>
</head>
<body>
</body>

</html>