<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head(~{::title})">
    <title>User Detail Page</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar()">
</div>
<div class = "container">
<h1 class = "text-center h2">User Information</h1>
<ul>
<li th:text="${userinfo.firstName}"> </li>
<li th:text="${userinfo.lastName}"> </li>
<li th:text="${userinfo.phoneNumber}"> </li>
<li th:text="${userinfo.address}"> </li>
</ul>


</div>
<div th:replace="fragments/footer :: footer()"></div>
</body>

</html>